In [26]:
import sys
print('Python: {}'.format(sys.version))
# scipy
import scipy
print('scipy: {}'.format(scipy.__version__))
# numpy
import numpy
print('numpy: {}'.format(numpy.__version__))
# matplotlib
import matplotlib
print('matplotlib: {}'.format(matplotlib.__version__))
# pandas
import pandas
print('pandas: {}'.format(pandas.__version__))
# scikit-learn
import sklearn
print('sklearn: {}'.format(sklearn.__version__))

Python: 2.7.13 |Anaconda 4.3.1 (64-bit)| (default, Dec 20 2016, 23:09:15)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
scipy: 0.18.1
numpy: 1.11.3
matplotlib: 2.0.0
pandas: 0.19.2
sklearn: 0.18.1

In [27]:
# Load libraries
import pandas as pd
from pandas.tools.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import SGDRegressor
from sklearn.svm import SVC

In [28]:
import datetime
from datetime import date,time
import time

In [29]:
pd.options.mode.chained_assignment = None  # default='warn'

In [30]:
def time_num(date):
    intervalo = 30
    
    hora = date.hour
    minuto = date.minute
    
    num_minutes = hora*60 + minuto
    
    time_bin = num_minutes / intervalo
    hour_bin = num_minutes / 60
    min_bin = (time_bin * intervalo) % 60
    
    return ((hour_bin * 60 + min_bin + intervalo) / 2.0)/(60*24)

In [55]:
dataset = pd.read_csv('data/trip_train.csv')
weather = pd.read_csv('data/weather.csv')
station = pd.read_csv('data/station.csv')
test = pd.read_csv('data/trip_test.csv')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119998 entries, 0 to 119997
Data columns (total 10 columns):
id                    119998 non-null int64
start_date            119998 non-null object
start_station_name    119998 non-null object
start_station_id      119998 non-null int64
end_date              119998 non-null object
end_station_name      119998 non-null object
end_station_id        119998 non-null int64
bike_id               119998 non-null int64
subscription_type     119998 non-null object
zip_code              118772 non-null object
dtypes: int64(4), object(6)
memory usage: 9.2+ MB

In [32]:
station = station.loc[:,['id','lat','long']]

In [33]:
weather.date = pd.to_datetime(weather.date)

In [34]:
weather = weather.loc[:,['date','mean_temperature_f']].groupby('date').mean()
weather = pd.DataFrame(weather.to_records())

In [35]:
dataset = dataset.loc[(dataset.duration < 86400) & (dataset.duration > 60),:]

In [36]:
prueba = dataset.head(15000)
prueba.describe()

,id,duration,start_station_id,end_station_id,bike_id
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,463000.576200,977.325800,58.095067,57.980400,427.726200
std,263317.734136,3167.134849,16.899018,17.025608,153.671141
min,4086.000000,63.000000,2.000000,2.000000,9.000000
25%,236500.500000,337.000000,50.000000,50.000000,334.000000
50%,459174.500000,508.000000,62.000000,62.000000,441.000000
75%,694277.000000,751.000000,70.000000,70.000000,546.000000
max,913416.000000,84070.000000,84.000000,84.000000,878.000000

In [37]:
prueba.start_date = pd.to_datetime(prueba.start_date)
#prueba.end_date = pd.to_datetime(prueba.end_date)

In [38]:
prueba['time_num'] = prueba.start_date.apply(lambda x: time_num(x))

In [39]:
prueba['date'] = prueba.start_date.apply(lambda x: datetime.datetime(x.year, x.month, x.day,0,0))

In [40]:
prueba = pd.merge(prueba,weather,on='date',how='inner')

In [41]:
prueba

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code,time_num,date,mean_temperature_f
0,907649,396,2015-08-27 08:36:00,Harry Bridges Plaza (Ferry Building),50,8/27/2015 8:43,Embarcadero at Sansome,60,187,Subscriber,94602,0.187500,2015-08-27,75.2
1,908115,486,2015-08-27 12:24:00,Embarcadero at Bryant,54,8/27/2015 12:32,Embarcadero at Vallejo,48,493,Subscriber,94105,0.260417,2015-08-27,75.2
2,907549,1027,2015-08-27 08:10:00,San Francisco Caltrain 2 (330 Townsend),69,8/27/2015 8:27,Market at Sansome,77,373,Subscriber,94105,0.177083,2015-08-27,75.2
3,907722,354,2015-08-27 08:53:00,Market at Sansome,77,8/27/2015 8:59,2nd at Folsom,62,395,Subscriber,94612,0.187500,2015-08-27,75.2
4,908290,209,2015-08-27 15:22:00,San Francisco Caltrain 2 (330 Townsend),69,8/27/2015 15:26,Townsend at 7th,65,313,Subscriber,94044,0.322917,2015-08-27,75.2
5,907615,849,2015-08-27 08:25:00,San Francisco Caltrain 2 (330 Townsend),69,8/27/2015 8:39,Clay at Battery,41,418,Subscriber,94303,0.177083,2015-08-27,75.2
6,907916,981,2015-08-27 09:49:00,Harry Bridges Plaza (Ferry Building),50,8/27/2015 10:05,Broadway St at Battery St,82,636,Subscriber,94114,0.208333,2015-08-27,75.2
7,908212,239,2015-08-27 13:58:00,Temporary Transbay Terminal (Howard at Beale),55,8/27/2015 14:02,Clay at Battery,41,529,Subscriber,94965,0.291667,2015-08-27,75.2
8,909018,698,2015-08-27 20:02:00,Embarcadero at Folsom,51,8/27/2015 20:14,San Francisco Caltrain (Townsend at 4th),70,576,Customer,85601,0.427083,2015-08-27,75.2
9,908705,414,2015-08-27 17:41:00,Market at 4th,76,8/27/2015 17:48,San Francisco Caltrain (Townsend at 4th),70,549,Subscriber,94303,0.375000,2015-08-27,75.2
10,908220,907,2015-08-27 14:04:00,San Francisco City Hall,58,8/27/2015 14:19,Harry Bridges Plaza (Ferry Building),50,609,Subscriber,94941,0.302083,2015-08-27,75.2
11,907981,317,2015-08-27 10:31:00,Market at Sansome,77,8/27/2015 10:37,2nd at South Park,64,332,Subscriber,94609,0.229167,2015-08-27,75.2
12,908780,409,2015-08-27 18:00:00,Temporary Transbay Terminal (Howard at Beale),55,8/27/2015 18:07,San Francisco Caltrain 2 (330 Townsend),69,557,Subscriber,94117,0.385417,2015-08-27,75.2
13,908874,511,2015-08-27 18:31:00,2nd at Townsend,61,8/27/2015 18:39,Townsend at 7th,65,350,Subscriber,94107,0.395833,2015-08-27,75.2
14,907330,572,2015-08-27 06:44:00,San Francisco Caltrain (Townsend at 4th),70,8/27/2015 6:54,Embarcadero at Bryant,54,412,Subscriber,95124,0.145833,2015-08-27,75.2
15,908228,763,2015-08-27 14:12:00,Spear at Folsom,49,8/27/2015 14:25,2nd at South Park,64,400,Subscriber,94102,0.302083,2015-08-27,75.2
16,907470,886,2015-08-27 07:52:00,Steuart at Market,74,8/27/2015 8:06,San Francisco Caltrain 2 (330 Townsend),69,300,Subscriber,94618,0.166667,2015-08-27,75.2
17,907962,808,2015-08-27 10:16:00,San Francisco Caltrain (Townsend at 4th),70,8/27/2015 10:29,Clay at Battery,41,338,Subscriber,94070,0.218750,2015-08-27,75.2
18,908570,771,2015-08-27 17:05:00,Mechanics Plaza (Market at Battery),75,8/27/2015 17:18,San Francisco Caltrain 2 (330 Townsend),69,266,Subscriber,94070,0.364583,2015-08-27,75.2
19,908620,585,2015-08-27 17:21:00,Harry Bridges Plaza (Ferry Building),50,8/27/2015 17:31,San Francisco Caltrain 2 (330 Townsend),69,555,Subscriber,94102,0.364583,2015-08-27,75.2
20,907429,1772,2015-08-27 07:38:00,Harry Bridges Plaza (Ferry Building),50,8/27/2015 8:08,2nd at Townsend,61,604,Subscriber,94960,0.166667,2015-08-27,75.2
21,907534,520,2015-08-27 08:08:00,San Francisco Caltrain (Townsend at 4th),70,8/27/2015 8:17,Embarcadero at Folsom,51,448,Subscriber,94070,0.177083,2015-08-27,75.2
22,908168,435,2015-08-27 13:05:00,Ryland Park,84,8/27/2015 13:12,Santa Clara County Civic Center,80,232,Subscriber,95112,0.281250,2015-08-27,75.2
23,907759,510,2015-08-27 08:59:00,Harry Bridges Plaza (Ferry Building),50,8/27/2015 9:08,2nd at Townsend,61,606,Subscriber,94901,0.187500,2015-08-27,75.2
24,907832,497,2015-08-27 09:21:00,Embarcadero at Folsom,51,8/27/2015 9:30,San Francisco Caltrain (Townsend at 4th),70,636,Subscriber,94501,0.197917,2015-08-27,75.2
25,907721,794,2015-08-27 08:53:00,Civic Center BART (7th at Market),72,8/27/2015 9:06,Temporary Transbay Terminal (Howard at Beale),55,482,Subscriber,94103,0.187500,2015-08-27,75.2
26,909039,830,2015-08-27 20:22:00,Market at Sansome,77,8/27/2015 20:36,San Francisco Caltrain (Townsend at 4th),70,549,Subscriber,94087,0.427083,2015-08-27,75.2
27,384043,636,2014-07-28 22:06:00,Market at 10th,67,7/28/2014 22:17,Washington at Kearny,46,417,Subscriber,94133,0.468750,2014-07-28,69.8
28,382485,430,2014-07-28 08:13:00,Beale at Market,56,7/28/2014 8:20,2nd at Townsend,61,534,Subscriber,94563,0.177083,2014-07-28,69.8
29,383877,254,2014-07-28 19:17:00,Market at 4th,76,7/28/2014 19:22,Mechanics Plaza (Market at Battery),75,392,Subscriber,94597,0.406250,2014-07-28,69.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14970,582239,577,2014-12-21 13:01:00,5th at Howard,57,12/21/2014 13:11,Howard at 2nd,63,426,Customer,8050,0.281250,2014-12-21,60.0
14971,582445,150,2014-12-21 23:45:00,Commercial at Montgomery,45,12/21/2014 23:47,Market at Sansome,77,459,Subscriber,94112,0.500000,2014-12-21,60.0
14972,582398,463,2014-12-21 18:41:00,San Francisco Caltrain (Townsend at 4th),70,12/21/2014 18:49,5th at Howard,57,137,Subscriber,94108,0.395833,2014-12-21,60.0
14973,142586,885,2014-01-04 15:34:00,Market at 4th,76,1/4/2014 15:49,Townsend at 7th,65,341,Subscriber,94107,0.333333,2014-01-04,52.4
14974,142319,560,2014-01-04 09:49:00,Market at 4th,76,1/4/2014 9:59,Townsend at 7th,65,561,Subscriber,94108,0.208333,2014-01-04,52.4
14975,142409,273,2014-01-04 11:52:00,Harry Bridges Plaza (Ferry Building),50,1/4/2014 11:56,Mechanics Plaza (Market at Battery),75,280,Subscriber,94105,0.250000,2014-01-04,52.4
14976,891384,400,2015-08-15 15:14:00,Embarcadero at Sansome,60,8/15/2015 15:21,Broadway St at Battery St,82,600,Customer,95020,0.322917,2015-08-15,77.6
14977,891587,210,2015-08-15 20:11:00,Market at 4th,76,8/15/2015 20:14,Market at 4th,76,479,Subscriber,94105,0.427083,2015-08-15,77.6
14978,891117,184,2015-08-15 08:38:00,Embarcadero at Bryant,54,8/15/2015 8:41,Embarcadero at Folsom,51,387,Subscriber,94105,0.187500,2015-08-15,77.6
14979,891382,451,2015-08-15 15:10:00,Market at 4th,76,8/15/2015 15:18,Steuart at Market,74,449,Customer,94087,0.322917,2015-08-15,77.6
14980,891540,768,2015-08-15 18:21:00,San Francisco Caltrain 2 (330 Townsend),69,8/15/2015 18:33,Powell at Post (Union Square),71,409,Subscriber,94107,0.385417,2015-08-15,77.6
14981,891379,256,2015-08-15 15:05:00,San Pedro Square,6,8/15/2015 15:09,St James Park,13,176,Subscriber,95113,0.322917,2015-08-15,77.6
14982,891276,173,2015-08-15 13:06:00,Park at Olive,38,8/15/2015 13:09,California Ave Caltrain Station,36,27,Customer,nil,0.281250,2015-08-15,77.6
14983,779494,3404,2015-05-24 08:21:00,Harry Bridges Plaza (Ferry Building),50,5/24/2015 9:18,Harry Bridges Plaza (Ferry Building),50,388,Customer,9112,0.177083,2015-05-24,59.0
14984,779621,426,2015-05-24 12:53:00,Market at 4th,76,5/24/2015 13:00,Harry Bridges Plaza (Ferry Building),50,505,Subscriber,94131,0.270833,2015-05-24,59.0
14985,779567,456,2015-05-24 11:27:00,San Francisco Caltrain 2 (330 Townsend),69,5/24/2015 11:35,Steuart at Market,74,393,Subscriber,94107,0.239583,2015-05-24,59.0
14986,779551,316,2015-05-24 10:43:00,Grant Avenue at Columbus Avenue,73,5/24/2015 10:49,Mechanics Plaza (Market at Battery),75,390,Subscriber,94066,0.229167,2015-05-24,59.0
14987,574138,255,2014-12-11 06:11:00,Embarcadero at Vallejo,48,12/11/2014 6:15,Embarcadero at Folsom,51,309,Subscriber,94133,0.135417,2014-12-11,57.0
14988,574139,692,2014-12-11 06:36:00,San Salvador at 1st,8,12/11/2014 6:48,San Jose Diridon Caltrain Station,2,241,Subscriber,95113,0.145833,2014-12-11,57.0
14989,574267,351,2014-12-11 17:24:00,5th at Howard,57,12/11/2014 17:30,San Francisco Caltrain (Townsend at 4th),70,318,Subscriber,94401,0.364583,2014-12-11,57.0
14990,173060,437,2014-02-01 11:16:00,Embarcadero at Folsom,51,2/1/2014 11:23,Embarcadero at Sansome,60,576,Customer,94124,0.239583,2014-02-01,48.8
14991,173236,865,2014-02-01 15:00:00,Powell at Post (Union Square),71,2/1/2014 15:14,San Francisco City Hall,58,474,Subscriber,94102,0.322917,2014-02-01,48.8
14992,173170,1849,2014-02-01 13:35:00,Powell Street BART,39,2/1/2014 14:06,South Van Ness at Market,66,507,Customer,92009,0.291667,2014-02-01,48.8
14993,173205,437,2014-02-01 14:21:00,Market at 10th,67,2/1/2014 14:28,Market at 4th,76,554,Subscriber,94103,0.302083,2014-02-01,48.8
14994,554995,136,2014-11-23 00:39:00,Powell Street BART,39,11/23/2014 0:41,5th at Howard,57,134,Subscriber,94158,0.020833,2014-11-23,55.4
14995,555213,577,2014-11-23 14:15:00,San Francisco City Hall,58,11/23/2014 14:25,Market at 4th,76,591,Subscriber,94102,0.302083,2014-11-23,55.4
14996,901752,501,2015-08-23 18:51:00,Market at 10th,67,8/23/2015 18:59,Powell Street BART,39,441,Customer,94103,0.395833,2015-08-23,68.6
14997,561262,7470,2014-11-30 14:35:00,Market at 4th,76,11/30/2014 16:40,Market at 4th,76,598,Customer,22201,0.312500,2014-11-30,56.8
14998,806213,190,2015-06-14 10:20:00,2nd at Townsend,61,6/14/2015 10:23,San Francisco Caltrain 2 (330 Townsend),69,501,Subscriber,94107,0.218750,2015-06-14,63.6
14999,806458,861,2015-06-14 19:02:00,Powell Street BART,39,6/14/2015 19:17,Washington at Kearny,46,364,Customer,nil,0.406250,2015-06-14,63.6

In [42]:
prueba = pd.merge(prueba,station,left_on='start_station_id',right_on='id',how='inner')

In [43]:
prueba.describe()

,id_x,duration,start_station_id,end_station_id,bike_id,time_num,mean_temperature_f,id_y,lat,long
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,463000.576200,977.325800,58.095067,57.980400,427.726200,0.288135,62.277653,58.095067,37.746324,-122.360588
std,263317.734136,3167.134849,16.899018,17.025608,153.671141,0.094885,6.771272,16.899018,0.124254,0.125411
min,4086.000000,63.000000,2.000000,2.000000,9.000000,0.010417,39.200000,2.000000,37.329732,-122.418954
25%,236500.500000,337.000000,50.000000,50.000000,334.000000,0.197917,57.600000,50.000000,37.776617,-122.403234
50%,459174.500000,508.000000,62.000000,62.000000,441.000000,0.291667,62.200000,62.000000,37.785299,-122.396236
75%,694277.000000,751.000000,70.000000,70.000000,546.000000,0.364583,67.800000,70.000000,37.792251,-122.394203
max,913416.000000,84070.000000,84.000000,84.000000,878.000000,0.500000,80.400000,84.000000,37.804770,-121.877349

In [44]:
prueba['hour_start'] = prueba.start_date.apply(lambda x: x.hour)
#prueba['hour_end'] = prueba.end_date.apply(lambda x: x.hour)
prueba['weekend'] = prueba.start_date.apply(lambda x: 1 if x.weekday() >= 5 else 0)

In [ ]:
prueba

In [45]:
prueba = prueba.loc[:,['duration','mean_temperature_f','time_num','weekend','lat','long']]
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549678 entries, 0 to 549960
Data columns (total 11 columns):
id                    549678 non-null int64
duration              549678 non-null int64
start_date            549678 non-null object
start_station_name    549678 non-null object
start_station_id      549678 non-null int64
end_date              549678 non-null object
end_station_name      549678 non-null object
end_station_id        549678 non-null int64
bike_id               549678 non-null int64
subscription_type     549678 non-null object
zip_code              544300 non-null object
dtypes: int64(5), object(6)
memory usage: 50.3+ MB

In [ ]:
prueba

In [ ]:
#start_station_name = pd.get_dummies(prueba['start_station_name'])
#end_station_name = pd.get_dummies(prueba['end_station_name'])

In [ ]:
#print start_station_name.shape
#print end_station_name.shape

In [ ]:
#prueba = prueba.drop('start_station_name',axis=1)
#prueba = prueba.drop('end_station_name',axis=1)
#prueba.shape

In [ ]:
#prueba = prueba.join(start_station_name)

In [ ]:
#columnas = [x +  '_end' for x in list(end_station_name.columns.tolist())]
#end_station_name.columns = columnas

In [ ]:
#prueba = prueba.join(end_station_name)

In [ ]:
#days = pd.get_dummies(prueba['weekday'])
#prueba = prueba.join(days)
#prueba = prueba.drop('weekday',axis=1)
#prueba

In [46]:
columnas = prueba.columns.tolist()
columnas = columnas[1:len(columnas)]
columnas.append('duration')
prueba = prueba[columnas]
len(prueba.columns.tolist())

6

In [47]:
from sklearn import preprocessing

In [48]:
array = prueba.values
X = array[:,0:len(prueba.columns.tolist())-1]
Y = array[:,len(prueba.columns.tolist())-1]
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)

In [49]:
seed = 7
scoring = 'accuracy'

In [ ]:
#models = []
#models.append(('LR', LogisticRegression()))
#models.append(('LDA', LinearDiscriminantAnalysis()))
#models.append(('KNN', KNeighborsClassifier()))
#models.append(('CART', DecisionTreeClassifier()))
#models.append(('NB', GaussianNB()))
#models.append(('SVM', SVC()))
# evaluate each model in turn
#results = []
#names = []
#for name, model in models:
#    kfold = model_selection.KFold(n_splits=10, random_state=seed)
#    cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring=scoring)
#    results.append(cv_results)
#   names.append(name)
#    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
#    print(msg)

In [50]:
start_time = time.time()
models = []
#models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
#models.append(('SVM', SVC()))
# evaluate each model in turn
for name, model in models:
    model.fit(X_train,Y_train)
    predictions = model.predict(X_validation)
    msg = "%s -> Mean Squared Error: %f" % (name, mean_squared_error(Y_validation, predictions))
    print(msg)
print("--- %s seconds ---" % (time.time() - start_time))

LDA -> Mean Squared Error: 36990927.027333
KNN -> Mean Squared Error: 8119117.412333
CART -> Mean Squared Error: 20433628.956333
NB -> Mean Squared Error: 8463239.426333
--- 4.81606292725 seconds ---

In [54]:
start_time = time.time()
lda = RandomForestRegressor()
#lda.fit(X_train, Y_train)
#predictions = lda.predict(X_validation)
parameters = {
    'n_estimators':[50],
    'max_features':['auto'],
    'max_depth':[50]}
best = cv_optimize
print Y_validation[0:15]
print predictions[0:15]
#print accuracy_score(Y_validation,predictions)
print(mean_squared_error(Y_validation, predictions))
print("--- %s seconds ---" % (time.time() - start_time))

[ 1079.   229.   324.   355.  1366.   285.   580.  7155.   620.   203.
   677.  3333.   515.   372.   519.]
[  1259.8           586.            498.2         10245.2          2713.1
    286.55          747.4         13965.6           619.6           429.7
    602.           1152.1           601.23333333    412.06666667
    673.46666667]
10236490.8663
--- 0.603191137314 seconds ---

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
X_train_scaled = preprocessing.scale(X_train)
X_validation_scaled = preprocessing.scale(X_validation)
X_train_normalized = preprocessing.normalize(X_train)

In [ ]:
lda.fit(X_train_scaled,Y_train)
predictions_scaled = lda.predict(X_validation_scaled)
print mean_squared_error(Y_validation,predictions_scaled)

In [ ]:
lda.fit(X_train_normalized,Y_train)
prediction_normalized = lda.predict(X_validation)
print prediction_normalized
print Y_validation
print mean_squared_error(Y_validation,prediction_normalized)